<h2><%= @shelter.name %></h2>
<p><%= @shelter.address %></p>
<p><%= @shelter.city %></p>
<p><%= @shelter.state %></p>
<p><%= @shelter.zip %></p><br/>
<%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit" %>
<%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", :method => :delete %>
<%= link_to "See Our Pets", "/shelters/#{@shelter.id}/pets" %>
<%= link_to "Create Pet", "/shelters/#{@shelter.id}/pets/new" %>
