<%= image_tag ( @pet.image ) %>
<h2><%= @pet.name %></h2>
<p><%= @pet.age %></p>
<p><%= @pet.sex %></p>
<%= link_to "Update Pet", "/pets/#{@pet.id}/edit" %>
<%= link_to "Delete Pet", "/pets/#{@pet.id}", method: :delete %>
